body{
    background-color:grey;
    font-size:20px;
}

#content{
    text-align:center;
    margin-top:50px;
}

.text1{
    font-family:Arial,Calibri;
}

.button1{
    width:140px;
    padding:5px;
    font-weight:bold;
}