<!DOCTYPE html>
<html>
    <head>
        <title>Fizzbuzz</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/reset.css" />
        <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
        <div id="content">
            <span class="text1">The result is {{ result }}</span>
            <br /><br />
            <a href="index.php" >Enter new number</a>
        </div>
    </body>
</html>
